*{
    color: var(--fontColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: monospace;
    background: image("logo.jpeg");
}

#rodape{
    bottom: 15px;

}

#assinatura{
    bottom: 15px;
}
ul {
    font-family: helvética;
}
    
/*div {
    outline-style: none;
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}
*/
.cardapio{
    outline-style: none;
    position: absolute;
    left: 250px;
   /*height: 100%;
    width: 100%;*/
    border-radius: 50%;
    border: none;
}
.btn{
    outline-style: none;
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--bg);
    background-color: var(--fontColor);
    
}

li {
    border: 10px;
    size: 30px;
}
.list {
    list-style:square;
}
/*
#msg {
    font-family: monospace;
    }

.light-theme {
   --bg: var(--green);
   --fontColor: var(--black);
}

.dark-theme .img {
      display: block;
    --bg: var(--black);
    --fontColor: var(--white);
*/
.img{
    display: none;
}



}

:root{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}


